{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Blog Pic -->

    <div class="container mt-4">
        <div class="row">
            <div class="col-12 px-lg-5 px-md-5 ">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">VGK BLOG</a></li>
                        <li class="breadcrumb-item active" aria-current="page">BLOG</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

<section id="blog-tab" class="mt-lg-4 mt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <img src="{% static 'img/Blog/blog.jpg'%}" alt="not found" width="100%">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Parent's Guide -->

<section id="Parents-guide">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-4">
                <div class="parents">
                    <h1 class="text-center">PARENT'S GUIDE</h1>
                    <div class="my-4">
                        <h4>What is the best age to learn chess?</h4>
                        <p style="line-height:27px;">If you're a mother, you're sure that you have a bright and
                            brilliant child, and you're
                            not wrong. Each child is exceptional and brilliant in their own unique way. But in your
                            eagerness to help your child discover their inner talents, you may fear you are
                            running the risk of pushing them into something too soon and not getting the result you
                            might hope for.When it comes to chess, you may worry that if you push your child too
                            hard or try to get them involved too early, they may have a negative response and miss
                            out on what can be a very fun, rewarding and intellectually stimulating activity. On the
                            other hand, conventional wisdom is often that the earlier you can get your child started
                            in an activity, the better chance they will have to excel. So what is the right age to
                            start your child learning chess? Is five years old too early? Is nine years old too
                            late? Misha Osipov competed with former world champion GM Anatoly Karpov at the age of
                            three! Determining the right age to start can be confusing
                        </p>
                    </div>
                    <div class="my-4">
                        <h4>How to Start Teaching Your Child Chess</h4>
                        <p>Kilpatrick and Sherman suggest you start your child’s chess education with the rook. Why
                            the rook rather than the pawn? The pawn is actually a more complex unit. It can move in
                            three different ways depending upon the position, and can even become another piece! The
                            rook has the simplest movement, so it is a great starting point.Don't overload your
                            child with too much chess material at once, as they may become overwhelmed and lose
                            interest. Let them become comfortable with each piece before The most important rule is,
                            BE PATIENT when teaching chess to your child. They will follow your example.
                        </p>
                    </div>

                    <div class="my-4">
                        <h4>The Brainy Benefits of Chess</h4>
                        <u style="font-size:17.5px;">1. Chess helps prevent Alzheimer’s</u>
                        <p class="mt-1 mb-2">Kilpatrick and Sherman suggest you start your child’s chess education
                            with the rook. Why
                            the rook rather than the pawn? The pawn is actually a more complex unit. It can move in
                            three different ways depending upon the position, and can even become another piece! The
                            rook has the simplest movement, so it is a great starting point.Don't overload your
                            child with too much chess material at once, as they may become overwhelmed and lose
                            interest. Let them become comfortable with each piece before The most important rule is,
                            BE PATIENT when teaching chess to your child. They will follow your example.
                        </p>

                        <u style="font-size:17.5px;">2. It grows dendrites</u>
                        <p class="mt-1">Imagine antenna that picks up signals from other places, the more antennas
                            you have the more signals you will pick, the bigger you will become.Imagine antenna that
                            picks up signals from other places, the more antennas you have the more signals you will
                            pick, the bigger you will become.Imagine antenna that picks up signals from other
                            places, the more antennas you have the more signals you will pick, the bigger you will
                            become.Imagine antenna that picks up signals from other places, the more antennas you
                            have the more signals you will pick, the bigger you will become.
                        </p>

                        <u style="font-size:17.5px;">3. Chess raises your kids IQ</u>
                        <p class="mt-1 mb-2">Imagine antenna that picks up signals from other places, the more
                            antennas
                            you have the more signals you will pick, the bigger you will become.Imagine antenna that
                            picks up signals from other places, the more antennas you have the more signals you will
                            pick, the bigger you will become.
                        </p>

                        <u style="font-size:17.5px;">4. It increases kid’s problem-solving skills</u>
                        <p class="mt-1 mb-2">In our quick developing world, every day we face numerous problems and
                            obstacles in
                            In our quick developing world, every day we face numerous problems and obstacles in
                            In our quick developing world, every day we face numerous problems and obstacles in

                        </p>

                        <u style="font-size:17.5px;">5. Chess improves spatial skills</u>
                        <p class="mt-1 mb-2">This ability is important in chess calculation due to which players
                            calculate variations 10 moves deep, visualizing the changes, picturing a position some
                            moves down the line, analyzing it extensively. Recent research about “predominance of
                            men in chess” showed that man’s spatial abilities are more developed than those in
                            woman’s, that ismen are good at visualizing objects in space, picturing a position, and
                            to mentally manipulate the images. Which is the important ability in chess calculation
                            and thinking because playing chess requires to solve complex problems with their
                            sub-problems, sothis all is possible only when the kid has high IQ.

                        </p>

                        <u style="font-size:17.5px;">6. It improves the memory of your child</u>
                        <p class="mt-1 mb-2">It is common fact that playing chess improves the memory and it is
                            definitely, true. Because while playing chess you should remember your opponents move,
                            remember
                            which positions can help him/her in that situation. Just remembering, most of the
                            openings, and all of the tips and tricks are enough to improve your kid’s memory.

                        </p>

                        <u style="font-size:17.5px;">7. It exercises both sides of the brain</u>
                        <p class="mt-1 mb-2">A German study showed that when chess experts were given chess position
                            and geometric shapes to identify, researchers expected to find the players’ left brain
                            being more active, but the surprising thing happened when they saw that the right
                            hemisphere
                            of the brain was equally active as the left one.Consequently, when experts play chess
                            they use both sides of their brain. So, dear
                            parent, when your kid learns the rules and technique also during playing chess,
                            exercises and develops both sides of the brain.

                        </p>

                        <u style="font-size:17.5px;">8. It increases the creativity of your kid</u>
                        <p class="mt-1 mb-2">Probably, one of the most important organs in our body is the brain.
                            Approximately 3 pounds with 100 billion neurons and 100 trillion connections, is the
                            manager of our body. As you know, both hemispheres of our brain are much alike but there
                            is a big difference in how they work and process information. Our left-side is
                            responsible for analytical and methodical thinking, while right-side is responsible for
                            creative or
                            artistic thinking. A study passed another research among students from grades 7 to 9
                            doing other activities, play chess, use computers once a week for 32 weeks to measure
                            the most growth in creative thinking. The students were divided into two groups, but the
                            chess group after 32 weeks scored higher in creativity activities with originality being
                            their biggest area of gain.

                        </p>

                        <u style="font-size:17.5px;">9. It improves the concentration your child.</u>
                        <p class="mt-1 mb-2">While playing chess, concentration is one of the most important
                            requirements to playing

                            a good game. It is impossible to play chess and think about something different. During

                            the game, the opponent won’t tell your kid which piece he moved, so your child should

                            be focused on the game, paying attention to every single detail and piece. In the
                            result,

                            playing chess will help you to develop your kid’s concentration, not only in chess but

                            also in different life situations.
                        </p>

                        <u style="font-size:17.5px;">10. Chess teaches planning and foresight</u>
                        <p class="mt-1 mb-2">If you remember yourself when you were a teenager, maybe you will
                            regret some things that you have done without thinking about the consequences. You know
                            what is the characteristic feature of all chess players, they plan and predict all the
                            time, no
                            matter where they are. While playing chess, planning is also important, which becomes
                            apart of the personality and makes the person always follow those rules. So if you want
                            to have a teenager with planning skills, act now.The most important thing is the skills
                            that are being taught through this game go far from the board, and prepare the person
                            for life difficulties, and problems, teach themhow to solve those obstacles in a
                            creative way. In the result, teaching your children
                            how to play chess, can be one of the greatest things that you will do for them. In the
                            minds of many parents, chess players are smart, well-behaved, calm thinkers,who are good
                            at math. While this does not fit the description of every chess player, patience,
                            thoughtfulness and the sharpening of cognitive skills can definitely be
                            benefits to learning chess.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}