{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Forms and FLYERS -->

<section class="my-4" id="flyers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-flyers">
                    <h1>DOWNLOADS</h1>
                    <div class="row mt-5 mb-4">
                        <div class="col-lg-8 mx-auto">
                            <a
                                    href="https://img1.wsimg.com/blobby/go/5746224d-b7a9-443b-a463-afcc774bef0f/downloads/Child%20fill%20out%20page%20%20(1).pdf?ver=1662518218304"
                                    target="_blank">
                                <div class="flyers-downloads d-flex justify-content-between p-3">
                                    <p class="m-0 col-8">Child fill out page (1) (pdf)</p>
                                    <div class="col-4 d-flex justify-content-end">
                                        <i class="fa-solid fa-download me-2 mt-1"></i>
                                        <p class="m-0">Download</p>
                                    </div>
                                </div>
                            </a>
                            <a
                                    href="https://img1.wsimg.com/blobby/go/5746224d-b7a9-443b-a463-afcc774bef0f/downloads/Goolsby%20Vegas%20Great%20Knights%20Flyer%20(1).pdf?ver=1662518218304"
                                    target="_blank">
                                <div class="flyers-downloads d-flex justify-content-between p-3 mt-2">
                                    <p class="m-0 col-8">Goolsby Vegas Great Knights Flyer (1) (pdf)</p>
                                    <div class="col-4 d-flex justify-content-end">
                                        <i class="fa-solid fa-download me-2 mt-1"></i>
                                        <p class="m-0">Download</p>
                                    </div>
                                </div>
                            </a>
                            <a
                                    href="https://img1.wsimg.com/blobby/go/5746224d-b7a9-443b-a463-afcc774bef0f/downloads/John%20C.%20Bass%20elemetnary%20flyer%202021%20(1).pdf?ver=1662518218304"
                                    target="_blank">
                                <div class="flyers-downloads d-flex justify-content-between p-3 mt-2">
                                    <p class="m-0 col-8">John C. Bass elementry flyer (pdf)</p>
                                    <div class="col-4 d-flex justify-content-end">
                                        <i class="fa-solid fa-download me-2 mt-1"></i>
                                        <p class="m-0">Download</p>
                                    </div>
                                </div>
                            </a>
                            <a
                                    href="https://img1.wsimg.com/blobby/go/5746224d-b7a9-443b-a463-afcc774bef0f/downloads/VEGAS%20GREAT%20KNIGHTS%20MEDIA%20CONSENT%20FORM.pdf?ver=1662518218304"
                                    target="_blank">
                                <div class="flyers-downloads d-flex justify-content-between p-3 mt-2">
                                    <p class="m-0 col-8">Vegas Great Knights Media Consent Form (pdf)</p>
                                    <div class="col-4 d-flex justify-content-end">
                                        <i class="fa-solid fa-download me-2 mt-1"></i>
                                        <p class="m-0">Download</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}