{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Schedule -->

<section id="schedule" class="mt-lg-4 mt-3">
    <div class="schedule-img p-0">
        <img src="{% static 'img/Schedule/schedule.jpg'%}" alt="not found">
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-12 py-5 school p-lg-5 p-md-5 p-4">
                <h1>Our Schools</h1>
				<h2>Monday</h2>
                <div class="row">
                    <div class="col-lg-8 order-lg-1 order-2 mt-lg-0 mt-md-0 mt-5">
                        <div class="schools-name">
                            <ul>
                                <li> William R Lummis Elementary 
									<p> Class Time 3:15-5:15 --- First Day of Class: 8-21-23 </p
								</li>
								<li> Dennis Ortwein Elementary School 
									<p> Class Time 3:15-5:15 --- First Day of Class: 8-21-23 </p
								</li>
                            </ul>
                        </div>
                    </div>
                </div>
				<h2>Tuesday</h2>
                <div class="row">
                    <div class="col-lg-8 order-lg-1 order-2 mt-lg-0 mt-md-0 mt-5">
                        <div class="schools-name">
                            <ul>
                                <li> Staton Elementary School 
									<p> Class Time 3:15-5:15 --- First Day of Class: 8-15-23 </p
								</li>
								<li> Legacy Traditional Cadence 
									<p> Class Time 3:15-5:15 --- First Day of Class: 8-15-23 </p
								</li>
								<li> Evelyn Stuckey Elementary School 
									<p> Class Time 3:15-5:15 --- First Day of Class: 8-15-23 </p
								</li>
								<li> Beverly Mathis Elementary School 
									<p> Class Time 3:15-5:15 --- First Day of Class: 8-22-23 </p
								</li>
                            </ul>
                        </div>
                    </div>
                </div>
				<h2>Wednesday</h2>
                <div class="row">
                    <div class="col-lg-8 order-lg-1 order-2 mt-lg-0 mt-md-0 mt-5">
                        <div class="schools-name">
                            <ul>
                                <li> Pinecrest Academy St. Rose 
									<p> Class Time 3:45-5:45 --- First Day of Class: 8-23-23 </p
								</li>
								<li> Linda Rankin Givens Elementary 
									<p> Class Time 3:15-5:15 --- First Day of Class: 8-16-23 </p
								</li>
								<li> Legacy North Valley 
									<p> Class Time TBD --- First Day of Class: TBD </p
								</li>
								<li> Doral Academy- Saddle 
									<p> Class Time 3:15-5:15 --- First Day of Class: 9-6-23 </p
								</li>
                            </ul>
                        </div>
                    </div>
                </div>
				<h2>Thursday</h2>
                <div class="row">
                    <div class="col-lg-8 order-lg-1 order-2 mt-lg-0 mt-md-0 mt-5">
                        <div class="schools-name">
                            <ul>
								<li> John & Judy Goolsby Elementary School 
									<p> Class Time 3:15-4:45 --- First Day of Class: 8-24-23 </p
								</li>
                                <li> Glen Taylor School 
									<p> Class Time 3:15-4:45 --- First Day of Class: 8-17-23 </p
								</li>
								<li> James H. Bilbray Elementary School 
									<p> Class Time 3:15-5:15 --- First Day of Class: 8-17-23 </p
								</li>
								<li> Somerset Skye Canyon 
									<p> Class Time 3:45-5:45 --- First Day of Class: 8-24-23 </p
								</li>
                            </ul>
                        </div>
                    </div>
                </div>
				<h2>Friday</h2>
                <div class="row">
                    <div class="col-lg-8 order-lg-1 order-2 mt-lg-0 mt-md-0 mt-5">
                        <div class="schools-name">
                            <ul>
								<li> John Bass Elementary School 
									<p> Class Time 3:10-5:10 --- First Day of Class: 8-18-23 </p
								</li>
                                <li> Tarr Elementary School 
									<p> Class Time 3:35-5:35 --- First Day of Class: 8-18-23 </p
								</li>
								<li> Coral Academy of Science Las Vegas - Eastgate 
									<p> Class Time 3:00-5:00 --- First Day of Class: 8-25-23 </p
								</li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

<!-- Fall-Season -->

<section id="Fall-season">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="Fall">
                    <h2>2023-24 Fall Season Schedule</h2>
                    <div class="d-lg-flex d-md-flex justify-content-between mt-4">
                        <div class="col-lg-3 col-md-3 col-12">
                            <h2>8/15/23</h2>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <h4>First week of VGK Chess this school year!!!!</h4>
                            <p class="mt-3">More details and schedules coming soon!!!</p>
                        </div>

                        <div class="col-lg-3 col-md-3 col-12 text-lg-end text-md-end">
                            <h4>3:15 - 5:15pm</h4>
                            <p class="mt-3">Various Schools</p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}